<div ng-controller="contactListController" ng-init="init()">

    <div class="app-page-header">
    	<div class="page-title">
    		<h3 >Contatos</h3>
    	</div>
    </div>


  <form>
    <div class="form-group">
      <label for="searchName">Nome</label>
      <input type="text" class="form-control" id="searchName" ng-model="searchName" placeholder="Digite o nome para buscar">
    </div>
    <div class="form-group">
      <label for="searchCpf">CPF</label>
      <input type="text" class="form-control" id="searchCpf" ng-model="searchCpf" placeholder="Digite o CPF para buscar">
    </div>
    <div class="form-group">
      <label for="searchEmail">E-mail</label>
      <input type="text" class="form-control" id="searchEmail" ng-model="searchEmail"  placeholder="Digite o e-mail para buscar">
    </div>
  </form>

    <div class="app-page-header">
      <div class="page-tools">
        <button name="singlebutton" class="btn btn-primary" ng-click="searchEntities()">Buscar</button>
        <button name="singlebutton" class="btn btn" ng-click="clearSearch()">Limpar</button>
      </div>
    </div>

    <div class="app-page-header">
      <div class="page-tools">
        <button name="singlebutton" class="btn btn-primary" ui-sref="main.add">Adicionar</button>
      </div>
    </div>

    <div class="table-responsive">

      <table class="table table-hover">
      
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Nascimento</th>
          </tr>
        </thead>
        
        <tbody>

          <tr ng-repeat="c in contacts | filter:search">
            <td>{{c.name}}</td>
            <td>{{c.emails[0]}}</td>
            <td>{{c.phones[0]}}</td>
            <td>{{bday(c)}}</td>
            <td> <i class="fa fa-trash-o icon-box" ng-click="preDelete(c)"></i> <td>    
            <td> <i class="fa fa-pencil-square-o icon-box" ng-click="edit(c)"></i> <td>
          </tr>

        </tbody>
        
      </table>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Exclusão de contato</h4>
          </div>
          <div class="modal-body">
            Você tem certeza que deseja excluir {{preDeletedContact.name}}?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" ng-click="delete()">Excluir</button>
          </div>
        </div>
      </div>
    </div>
      
    </div>

<div>